/* --------------------------------------- Global Section --------------------------------------- */ 

section {
    height: 100vh;
    margin-bottom: 10rem;
}

/* --------------------------------------- Hero Section --------------------------------------- */ 

.hero-background {
    height: inherit;
    background-color: #091540;
}

.hero-container {
    height: inherit;
    background-color: #F8F7F9;
    display: flex;
    align-items: center;
    clip-path: polygon(0 0, 0 100%, 40% 100%, 100% 10%, 100% 0);
}

.hero-content {
    width: 90%;
    margin: 0 auto;
}

.hero-info {
    width: 50rem;
}

.hero-info h1 {
    margin: 0;
    font-size: 4.5rem;    
    color: #091540;
}

.hero-info h2 {
    margin: 0;
    font-size: 2.5rem;
    color: #6A7FDB;
}

.hero-info p {
    margin: 0.75rem 0 1.875rem 0;
}

.hero-btns {
    width: 25rem;
    display: flex;
    justify-content: space-between;
}

.hero-btns .btn {
    text-decoration: none;
    padding: 0.5rem 1.875rem;
    border-radius: 6px;
}

#projects-btn {
    border: 1px solid #091540;
    color: #091540;
}

#projects-btn:hover {
    background-color: #091540;
    color: #F8F7F9;    
}

#contact-btn {
    border: 1px solid #091540;
    background-color: #091540;
    color: #F8F7F9;
}

#contact-btn:hover {
    color: #091540;
    background-color: #F8F7F9;    
}

/* --------------------------------------- About Section --------------------------------------- */ 

#about {
    display: flex;
    align-items: center;
}

.about-header {
    width: 90%;
    margin: 0 auto
}

.about-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-info {
    width: 50%;
}

.about-info h3 {
    font-size: 1.5rem;
    color: #091540;
    margin: 0 0 0.5rem 0;
}

.about-info p {
    margin: 0;
}

.highlight {
    color: #6A7FDB;
}

.about-interests {
    margin: 1rem 0 2rem 0;
}

.about-interests ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.about-interests svg {
    width: 20px;
    stroke: #6A7FDB;
    margin-right: 1rem;
}

.about-interests li {
    margin-bottom: 0.5rem;
}

.about-pic {
    display: flex;
    justify-content: center;
}

.about-pic-container {
    width: 500px;
    height: 500px;

    background:
        linear-gradient(to right, #6A7FDB 2px, transparent 2px) 0 0,
        linear-gradient(to left, #6A7FDB 2px, transparent 2px) 100% 100%,
        linear-gradient(to bottom, #6A7FDB 2px, transparent 2px) 0 0,
        linear-gradient(to top, #6A7FDB 2px, transparent 2px) 100% 100%;

    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.about-pic-container img {
    padding: 10px;
    width: 500px;
    object-fit: cover;
}

.download-btns-container {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.download-btns {
    text-decoration: none;
    margin-right: 1rem;
    padding: 0.5rem 1.875rem;
    border-radius: 6px;
}

#transcript-btn {
    border: 1px solid #091540;
    color: #091540;
}

#transcript-btn:hover {
    background-color: #091540;
    color: #F8F7F9;
}

#resume-btn {
    color: #F8F7F9;
    background-color: #091540;
    border: 1px solid #091540;
}

#resume-btn:hover {
    background-color: #F8F7F9;
    color: #091540;
}

/* --------------------------------------- Resume Section --------------------------------------- */ 

#resume {
    height: auto;
    width: 90%;
    margin: 0 auto;
}

.resume-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
}

.resume-title {    
    margin-top: 10vh;
    grid-column: 1 / span 2;
}

.resume-education {
    grid-column: 1 / span 2;
}

.resume-info h3 {
    font-size: 1.2rem;
}

.resume-info p {
    font-size: 1.1rem;
}

.resume-info-skills h3 {
    font-size: 1.2rem;
}

.resume-info-skills li {
    font-size: 1.1rem;
}

.resume-info .duration {
    font-size: 0.8rem;
    color: #838383;
}

/* --------------------------------------- Media Queries --------------------------------------- */

@media (max-width: 87.5rem) {
    /* --------------------------------------- Hero Queries --------------------------------------- */
    .hero-info {
        width: 37rem;
    }

    .hero-info h1 {
        font-size: 3.5rem;            
    }
    
    .hero-info h2 {
        font-size: 2rem;
    }
}

@media (max-width: 75rem) {
    /* --------------------------------------- Hero Queries --------------------------------------- */
    .hero-info {
        width: 20rem;
    }

    .hero-info h1 {
        font-size: 3rem;            
    }
    
    .hero-info h2 {
        font-size: 1.8rem;
    }

    .hero-btns { 
        width: 20rem;
    }

    /* --------------------------------------- About me Queries --------------------------------------- */

    .about-pic-container {
        width: 400px;
        height: 400px;
    }

    .about-pic-container img {
        width: 400px;
    }

    .download-btns-container {
        flex-direction: column;
        text-align: center;
        width: 17rem;
    }

    .download-btns {
        margin: 0 0 1rem 0;
    }
}

@media (max-width: 56.25rem) {
    /* --------------------------------------- Hero Queries --------------------------------------- */
    .hero-container {        
        /* align-items: flex-start; */
        clip-path: polygon(0 0%, 0 100%, 100% 100%, 100% 41%, 100% 0%);
    }

    .hero-info {
        text-align: center;
        width: inherit;
        margin: 0 auto;
    }

    .hero-info h1 {
        font-size: 4.5rem;
    }
    
    .hero-info h2 {        
        font-size: 2.5rem;        
    } 

    .hero-btns {
        width: inherit;
        margin: 0 auto;
    }

    /* --------------------------------------- About me Queries --------------------------------------- */

    .about-container {
        flex-direction: column-reverse;
    }

    .about-header h2 {
        text-align: center;
    }

    #about p, 
    #about li {
        font-size: 1.2rem;
    }

    .about-info {
        width: 100%;
    }

    .download-btns-container {
        width: 100%;
        align-items: center;

    }

    .download-btns {
        width: 17rem;
    }

}

@media (max-width: 30rem) {
    /* --------------------------------------- Hero Queries --------------------------------------- */
    .hero-info h1 {
        font-size: 3.2rem;
    }
    
    .hero-info h2 {        
        font-size: 2rem;        
    }

    .hero-btns {
        flex-direction: column;
    }

    .hero-btns .btn { 
        text-align: center;    
        width: 10rem;
        margin: 0 auto 2rem auto;
    }

    /* --------------------------------------- About me Queries --------------------------------------- */

    .about-pic-container {
        width: 250px;
        height: 250px;
    }

    .about-pic-container img {
        width: 250px;
    }

    .download-btns {
        width: 100%;
    }
}